<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <title>{% block title %}Caffeine Corner{% endblock %}</title>
</head>
<body>
    <header class="bg-coffee fixed-top">
        <div class="flex flex-row p-3 items-center justify-between">
            <div class="hidden sm:flex flex-row items-center">
                <img src="{% static 'img/Logo.jpg' %}" alt="Caffeine Corner Logo" class="h-16 w-16 rounded-full ml-5 sm:ml-10">
                <div class="ml-5">
                    <h2 class="text-white text-md sm:text-lg font-montserrat font-bold tracking-widest">CAFFEINE</h2>
                    <h2 class="text-white text-md sm:text-lg font-montserrat font-bold tracking-widest">CORNER</h2>
                </div>
            </div>
            {% if search_bar|default:False %}
            <div class="relative bg-white flex flex-row items-center rounded-full px-4 py-1">
                <button type="button" class="mr-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                    </svg>
                </button>
                <input type="text" class="w-35 h-4 sm:w-70 sm:h-10 focus:placeholder-transparent" placeholder="Search for products"/>
            </div>
            {% endif %}
            {% if signUp|default:False %}
            <a href="#" class="text-sm sm:text-lg py-1 px-4 bg-white text-coffee rounded-4xl mr-20">Sign Up</a>
            {% endif %}
        </div>
    </header>
    <div>
        {% block content %}{% endblock %}
    </div>
    <script>
    </script>
</body>
</html>