
<footer>
    {% load static %}
    <div>
        <div class="flex flex-col items-center">
            <div class="flex flex-row items-center">
                <img src="{% static 'img/Logo.jpg' %}" alt="Caffeine Corner Logo" class="h-16 w-16 rounded-full">
                <div class="flex flex-col">
                    <h2 class="text-white text-lg font-montserrat font-bold tracking-widest">Caffeine</h2>
                    <h2 class="text-white text-lg font-montserrat font-bold tracking-widest">Corner</h2>
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>
</footer>

